@import url("https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css");

$small-screen-size: 729px;
$mid-screen-size: 1135px;
$background-gradient-blue: linear-gradient(90deg, rgba(21,150,228,1) 0%, rgba(0,172,255,1) 31%, rgba(0,125,255,1) 100%);
$background-gradient-orange: linear-gradient(90deg, rgba(237,110,37,1) 0%, rgba(255,111,0,1) 43%, rgba(255,175,0,1) 100%);
$background-gradient-purple: linear-gradient(90deg, rgba(134,37,237,1) 0%, rgba(151,14,213,1) 59%, rgba(184,0,255,1) 100%);
$background-gradient-green: linear-gradient(90deg, rgba(21,228,52,1) 0%, rgba(0,255,29,1) 44%, rgba(0,255,76,1) 100%);
$background-gradient-red: linear-gradient(90deg, rgba(228,58,21,1) 0%, rgba(255,0,74,1) 31%, rgba(255,21,0,1) 100%);

html, body {
  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
}

.b {
  font-weight: bold;
}
main {
  margin: 0;
}

.bg-gradient-blue {
  background: rgb(21, 150, 228);
  background: $background-gradient-blue;
}

.bg-gradient-orange {
  background: rgba(151,14,213,1);
  background: $background-gradient-orange;
}

.bg-gradient-purple {
  background: rgba(134,37,237,1);
  background: $background-gradient-purple;
}

.bg-gradient-green {
  background: rgb(21,228,52);
  background: $background-gradient-green;
}

.bg-gradient-red {
  background: rgba(255,21,0,1);
  background: $background-gradient-red;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.profile-pic {
  width: 251px;
  height: 251px;
  margin-right: 15px;

}

.bio {
  min-width: 251px;
}
.card {
  padding: 15px;
  .prog-icon {
    height: 6em;
    width: 6em;
    img {
      height: inherit;
      width: inherit;
    }
  }
}

.ccenter {
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.right-divider {
  border-right: 1px solid #fff;
}

.left-divider {
  border-left: 1px solid #fff;
}

.row .card.col {
  padding: 0px;
}

.justify-evenly {
  justify-content: space-evenly;
}

.hobbies {

  .card {
    max-width: 417px;
    img {
      width: 100%;
      height: 337px;
    }
  }
}

.projects {
  .card {
    min-width: 301px;
  }
}


.button-icon {
  max-width: 22.1px;
  float: left;
  line-height: inherit;
  margin-right: 15px;
  margin-top: 16px;
}

.zero-opacity {
  opacity: 0;
}

.full-opacity {
  opacity: 1;
}

.bg-white {
  background: white;
}
.transition-mid {
  -webkit-transition: opacity 913ms ease;
  -moz-transition: opacity 913ms ease;
  -ms-transition: opacity 913ms ease;
  -o-transition: opacity 913ms ease;
  transition: opacity 913ms ease;
}

.transition-small {
  -webkit-transition: opacity 513ms ease;
  -moz-transition: opacity 513ms ease;
  -ms-transition: opacity 513ms ease;
  -o-transition: opacity 513ms ease;
  transition: opacity 513ms ease;
}

.transition-delay {
  -webkit-transition-delay: 897ms;
  -moz-transition-delay: 897ms;
  -ms-transition-delay: 897ms;
  -o-transition-delay: 897ms;
  transition-delay: 897ms;
}

.fullscreen {
  overflow: auto;
  min-width: 100%;
  min-height: 100%;
}

.git-icon {
  width: 53px;
  height: 28px;
  vertical-align: middle;
  top: -3px;
  fill: white;
  left: -5px;
}

.project-img {
  width: 460px !important;
  height: 258px;
}

.java-icon {
  left: 11px !important;
}

$scrollbar-bg: #ededed;
$scrollbar-clr: #bababa;

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-bg $scrollbar-clr;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $scrollbar-clr;
}

*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-bg;
  border-radius: 20px;
  border: 3px solid $scrollbar-clr;
}