@import url("https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css");
html, body {
  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
}

.b {
  font-weight: bold;
}

main {
  margin: 0;
}

.bg-gradient-blue {
  background: #1596e4;
  background: linear-gradient(90deg, #1596e4 0%, #00acff 31%, #007dff 100%);
}

.bg-gradient-orange {
  background: #970ed5;
  background: linear-gradient(90deg, #ed6e25 0%, #ff6f00 43%, #ffaf00 100%);
}

.bg-gradient-purple {
  background: #8625ed;
  background: linear-gradient(90deg, #8625ed 0%, #970ed5 59%, #b800ff 100%);
}

.bg-gradient-green {
  background: #15e434;
  background: linear-gradient(90deg, #15e434 0%, #00ff1d 44%, #00ff4c 100%);
}

.bg-gradient-red {
  background: #ff1500;
  background: linear-gradient(90deg, #e43a15 0%, #ff004a 31%, #ff1500 100%);
}

canvas {
  display: block;
  vertical-align: bottom;
}

.profile-pic {
  width: 251px;
  height: 251px;
  margin-right: 15px;
}

.bio {
  min-width: 251px;
}

.card {
  padding: 15px;
}
.card .prog-icon {
  height: 6em;
  width: 6em;
}
.card .prog-icon img {
  height: inherit;
  width: inherit;
}

.ccenter {
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.right-divider {
  border-right: 1px solid #fff;
}

.left-divider {
  border-left: 1px solid #fff;
}

.row .card.col {
  padding: 0px;
}

.justify-evenly {
  justify-content: space-evenly;
}

.hobbies .card {
  max-width: 417px;
}
.hobbies .card img {
  width: 100%;
  height: 337px;
}

.projects .card {
  min-width: 301px;
}

.button-icon {
  max-width: 22.1px;
  float: left;
  line-height: inherit;
  margin-right: 15px;
  margin-top: 16px;
}

.zero-opacity {
  opacity: 0;
}

.full-opacity {
  opacity: 1;
}

.bg-white {
  background: white;
}

.transition-mid {
  -webkit-transition: opacity 913ms ease;
  -moz-transition: opacity 913ms ease;
  -ms-transition: opacity 913ms ease;
  -o-transition: opacity 913ms ease;
  transition: opacity 913ms ease;
}

.transition-small {
  -webkit-transition: opacity 513ms ease;
  -moz-transition: opacity 513ms ease;
  -ms-transition: opacity 513ms ease;
  -o-transition: opacity 513ms ease;
  transition: opacity 513ms ease;
}

.transition-delay {
  -webkit-transition-delay: 897ms;
  -moz-transition-delay: 897ms;
  -ms-transition-delay: 897ms;
  -o-transition-delay: 897ms;
  transition-delay: 897ms;
}

.fullscreen {
  overflow: auto;
  min-width: 100%;
  min-height: 100%;
}

.git-icon {
  width: 53px;
  height: 28px;
  vertical-align: middle;
  top: -3px;
  fill: white;
  left: -5px;
}

.project-img {
  width: 460px !important;
  height: 258px;
}

.java-icon {
  left: 11px !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ededed #bababa;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #bababa;
}

*::-webkit-scrollbar-thumb {
  background-color: #ededed;
  border-radius: 20px;
  border: 3px solid #bababa;
}

/*# sourceMappingURL=index.css.map */
